<!doctype html>
<html lang="it" class="illustration">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{url}}/{{path.dir}}/{{path.name}}.html" />
  <meta property="og:image" content="{{url}}/{{images}}" />


  {{> styles }}

</head>

<body class="illustration">
  <div class="main">
    {{> header }}

    <div class="image-container">

      {{#each this.imagesMap as |image imageKey|}}
      <div class="image">

        <img
        alt="{{../this.title}}"
        title="{{../this.title}}"
        src="/{{imageKey}}"
        srcset="/{{image.srcset}}"
        sizes="/{{image.sizes}}"
        >

      </div>
      {{/each}}

      <div class="contents">
        {{{ contents }}}
      </div>
    </div>
  </div>
</div>
{{> footer }}
</body>
</html>
