{{> head }}
<body class="dragscroll">
  <div class="main">

    {{> header }}

    <div class="image-container">
      {{#each illustrations }}
      {{#each this.imagesMap as |image imageKey|}}
      <div class="image">
        <a href="{{ image.src }}">
        <img
        alt="{{../this.title}}"
        src="{{imageKey}}"
        srcset="{{image.srcset}}"
        sizes="{{image.sizes}}"
        >
        </a>
      </div>
      {{/each}}
      {{/each}}
    </div>
  </div>

  <!-- {{> footer }} -->
</body>
</html>
