<!doctype html>
<html lang="it" class="home">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{url}}" />
  <meta property="og:image" content="{{url}}/{{ogImage}}" />

  {{> styles }}

</head>

<body class="home dragscroll">

  {{> analytics }}

  <div class="main">

    {{> header }}

    <div class="image-container pure-g">
      {{#each illustrations }}
      {{#each this.imagesMap as |image imageKey|}}
      <div class="image pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-5">
        <a href="{{../this.path.dir}}/{{../this.path.name}}.html">
        <img
        alt="{{../this.title}}"
        src="/{{../this.path.dir}}/images/{{../this.path.name}}-thumb.jpg"
        >
        </a>
        <a class="image-title" href="/{{../this.path.dir}}/{{../this.path.name}}.html"> {{../this.title}} </a>
      </div>
      {{/each}}
      {{/each}}
    </div>
  </div>

</body>
</html>
