
@import url('https://fonts.googleapis.com/css?family=BenchNine:700&subset=latin-ext');

/* custom properties */
:root {
  --fontSize: 1.5rem;
  --mainColor: #000;
  --bgColor: #F2F2F2;
  --highlightColor: #BB0C0C;
  --headerHeight: 4.8em;
  --globalMargin: 1.5vh;
}

/* custom properties set & @apply rule */
:root {
  --centered: {
    display: flex;
    align-items: center;
    justify-content: center;
  };
}

.centered {
  @apply --centered;
}

/* custom media queries */
@custom-media --viewport-small (width <= 20rem);
@custom-media --viewport-medium (width <= 50rem);
@custom-media --viewport-large (width > 50rem);

html {
  height: 100%;
}
/* some var() & calc() */
body {
  all: initial;
  color: var(--mainColor);
  font-family: 'BenchNine';
  font-size: var(--fontSize);
  line-height: calc(var(--fontSize) * 1.4);
  height: 100%;
}

html,body {
  &.home {
    @media (--viewport-large) {
      overflow: hidden;
      position: absolute;
    }
  }
}

p {
  margin:0;
  padding:0;
}

.main {
  height: 100vh;
  position: relative;

  header {
    height: var(--headerHeight) ;
    width: 100%;
    display: block;
    z-index: 10;
    position: fixed;
    top: 0;

    @media (--viewport-medium) {
      position: relative;
    }

    .title-bar {
      height: 100%;
      display: block;
      overflow: hidden;
      text-transform: uppercase;
      background-color: var(--bgColor);
      padding: 0;
      box-sizing: content;

      .logo {
        display: inline-block;
        float: left;
        padding: var(--globalMargin);
        position: relative;
        height: 2.7em;
        width: 2.7em;

      }

      .title {
        display: block;
        font-size: calc(var(--fontSize) * 2);
        line-height: calc(var(--fontSize) * 1.6);
        padding-top: var(--globalMargin);
        white-space: nowrap;
      }

      .subtitle {
        display: block;
        color: var(--highlightColor);
        font-size: calc(var(--fontSize) * 1.1);
        line-height: calc(var(--fontSize) * 1);
        padding-top: calc(var(--fontSize) * 0.2);
        white-space: nowrap;
      }
    }

    .menu {
      display: block;
      clear: both;
      height: 1.3em;
      background-color: color(var(--bgColor) blackness(10%));
      position: absolute;
      width: 100%;
      bottom: -.3em;

      .menu-list {
        list-style: none;
        padding: 0;
        margin: 0 0 0 var(--globalMargin);
        .menu-item {
          display: inline-block;

          .menu-link {
            text-transform: uppercase;
            text-decoration: none;
            font-size: .8em;
            line-height: .3em;
            color: color( var(--mainColor) lightness(50%) );
            margin-right: var(--globalMargin);
            &:hover,&:active {
              color: color( var(--highlightColor) lightness(20%));
            }
          }
        }
      }
    }
  }

  .image-container {
    clear: both;
    height: calc(100vh - var(--headerHeight) );
    display: flex;
    position: relative;
    margin: 0;
    top: var(--headerHeight);
    box-sizing: border-box;

    @media (--viewport-medium) {
      flex-direction: column;
      top: 0;
    }

    @media (--viewport-large) {
      padding: 0 5em calc(var(--globalMargin)*2.5) 0;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: flex-start;
      &:hover {
        cursor: grab;
      }
    }

    .image {
      width: auto;
      margin: 0;
      box-sizing: border-box;
      position: relative;

      .image-title {
        position: absolute;
        display:block;
        top:0;
        right:0;
        background-color: rgba(0,0,0,0.5);
        color: white;
        text-decoration: none;
        padding: 0  var(--globalMargin);
        box-sizing: border-box;
        text-align: right;

        @media (--viewport-large) {
          opacity: 0;
          transition: opacity .3s ease;
          &:hover {
            color: color(var(--highlightColor) lightness(80%));
          }
        }

        @media (--viewport-medium) {
          font-size: .7em;
          line-height: 1.6em;
          padding: 0 var(--globalMargin);
        }
      }

      &:hover {
        .image-title {
          transition: opacity .3s ease;
          opacity: 1;
        }
      }

      img {
        width: 100%;
        @media (--viewport-large) {
          width: auto;
          height: 100%;
          pointer-events: none;
        }
      }
      @media (--viewport-medium) {
        margin: var(--globalMargin) 0;
      }
      @media (--viewport-large) {
        height: 100%;
        margin: var(--globalMargin) 0 var(--globalMargin) var(--globalMargin);
      }
    }
  }
}

.illustration {
  overflow-x: hidden;
  overflow-y: initial;
  position: relative;
  .image-container {
    flex-direction: column;
    &:hover {
      cursor: pointer;
    }
    .image {
      width: 100%;
      height: auto;
      margin:0 ;
      padding: var(--globalMargin) var(--globalMargin) 0 var(--globalMargin);
      img {
        width: 100%;
        max-width: 1200px;
        height: auto;
        pointer-events: initial;
      }
    }
    .contents {
      width: 100vw;
      height: auto;
      padding: 0 var(--globalMargin);
    }
  }
}

footer {
  clear: both;
}
